<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong> 🌤️ Whether Weather Web App</strong> by <a href="">Lovely Gregorio</a> Created for  SETU Web Development 1 | Assigment 2 |
    </p>
  </div>
</footer>